<h1 class="text-center">Log in</h1>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path ) do |f| %>
    <div class="form-group row">
    <div class="control-label col-sm-2 ">
        <%= f.label :email %> 
    </div>
    <div class="col-sm-8">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
    </div>
    </div>

    <div class="form-group row">
    <div class="control-label col-sm-2">
        <%= f.label :password %>
    </div>
    <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control", autocomplete: "off", autofocus: true %>
    </div>
    </div>

    <div class="form-group row py-2 text-center">
    <div class="col-sm-10 mx-5">
        <%= f.submit "Log in",  class: "btn btn-secondary "%>
        <%= link_to "Go Back to Articles", articles_path, class: "btn btn-secondary " %>
    </div>
    </div>
 <% end %>

