<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <%= link_to "View Articles", articles_path, class: "nav-link", id: "article_all" %>
      </li>
      <li class="nav-item">
        <%= link_to "View Users", users_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Create new article", new_article_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right mx-1">
    <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
          <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Log out', logout_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0 nav-link" %>
      </li>
      <% else %>
      <li class="nav-item mx-1">
        <%= link_to 'Log in', login_path, class: "btn btn-outline-success my-2 my-sm-0 nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'signup', signup_path, class: "btn btn-outline-success my-2 my-sm-0 nav-link" %>
      </li>
      <% end %>
      </ul>
  </div>
</nav>